# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Engineered data
datasets/engineered/

# Processed data
datasets/processed/

# Model artifacts (optional)
backend/ml/artifacts/*.pkl

# Logs
*.log